.nav {
    grid-area: n;
    background-color: #1d5d94;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.navbarFrinds {
    margin-top: 100px;
    display: flex;

}
.singleNavUser {
    padding-left: 5px;
    text-align: center;
}
.navbarFrinds a{
    color: white;
    text-decoration: none;
}

.navbarFrinds img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

